# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
venv.bak/
venv.bk/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Testing
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/static
/media
.DS_Store
